body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e0ebfa;
}

/* Header */

.mainHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(231, 223, 223);
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.siteIdentity img {
  width: 700px;
}

/* Main */

a:not([class]) {
  text-decoration: none;
  color: #3c2634;
}

.card {
  background-color: #b4e0ca;
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-text {
  width: 115px;
}

/* Footer */

.mainFooter {
  background-color: rgb(231, 223, 223);
}

.footerInfo {
  display: inline;
  font-size: 18px;
  font-weight: 500;
  color: #3c2634;
}

.footerSocialMedia a {
  padding: 0 1rem;
}

.footerSocialMedia img {
  width: 35px;
}